/* Grid Area Styles */
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 100px 0px;
    grid-gap: 15px;
}

.main-body{
    background-image: url('../../images/body-bg.jpg');
    background-size: cover;
    background-position:top;
    background-repeat: no-repeat;
}


/** RESPONSIVE  CSS for Grid**/
@media screen and (max-width:992px){
    .grid-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:700px){
    .grid-container{
        grid-template-columns: repeat(1, 1fr);
    }
}